.sidebar {
    @apply bg-primary-dark h-screen duration-300 sticky top-0 left-0 flex flex-col justify-between;
}

.sidebar__arrow {
    @apply bg-white size-7 p-1 text-primary-dark text-xl rounded-full absolute right-5  bottom-5 border border-primary-dark
    cursor-pointer hidden lg:block transition ease-in-out duration-300;
}

.sidebar__logo {
    @apply p-5 h-20 flex items-center justify-center;
}
.sidebar__logo img {
    @apply w-full h-auto;
}

.sidebar__items__container {
    @apply px-5;
}

.sidebar__description {
    @apply flex-col flex mb-8;
}

.sidebar__text {
    @apply text-xs text-ubb-white pb-2;
}

.sidebar__line {
    @apply h-0.5 rounded-full bg-primary-light;
}

.sidebar__items {
    @apply flex flex-col gap-6;
}

.sidebar__subitems {
    @apply flex flex-col gap-y-4;
}

.sidebar__item {
    @apply text-white text-base font-bold
    flex items-center gap-x-4 cursor-pointer hover:text-gray-300 duration-300;
}

.sidebar__subitem {
    @apply text-white text-sm font-bold flex items-center items-center gap-x-4 cursor-pointer px-5 rounded-md hover:text-gray-300 duration-300;
}

.sidebar__item_icon {
    @apply text-2xl block float-left;
}
